body {
    background: url("bg-page.gif") repeat scroll 0 0 #EBE8CE;
		font: 1em/1.4 'Helvetica Neue',Arial,Helvetica,sans-serif;
		min-width: 990px;
}

#landing {
    padding: 20px 0 0;
}
.global-wrap {
    padding: 0;
    position: relative;
}
.toolbar {
    font-size: 0.75em;
    margin: -20px auto 0;
    overflow: hidden;
    padding: 20px 0;
    position: relative;
    width: 940px;
}

.logo {
    float: left;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background-color: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

.toolbar .lang {
    margin: -1.2em 0 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50%;
}
.toolbar p, .toolbar .lang {
    float: right;
    font-size: 1em;
    margin: 0 0 0 1.8em;
}
ul, ol {
    margin: 0.2em 0 1em 2.1em;
}
ol, ul {
    list-style: none outside none;
}
p {
    margin: 0.2em 0 1em;
}

.page {
    background-color: #FBFAF7;
    margin: 0 auto;
    width: 949px;
}

.promo-variable-background {
    // background-image: url("young.jpg");
}
.promo {
    background-position: 0 0;
    background-repeat: no-repeat;
    margin: 0 0 20px;
    overflow: hidden;
    padding: 20px 20px 18px;
    position: relative;
}
.promo {
    background-color: #FFFFEE;
    height: 462px;
}

.signup {
    background: url("bg-search-big.png") no-repeat scroll 0 0 transparent;
    font-size: 0.9em;
    height: 462px;
    margin: -1px !important;
    padding: 0 11px;
    position: absolute;
    top: 20px;
    width: 360px;
}

.signup fieldset {
    margin: 0;
}

.signup fieldset .form-row.current {
    background-color: #FEFDF5;
    border: 1px solid #F2DA91;
    border-radius: 5px 5px 5px 5px;
    margin: -1px;
    width: 360px;
}
.signup fieldset .form-row {
    font-size: 0.85em;
    padding: 0.5em 0;
}
.form-row {
    overflow: hidden;
}

.signup fieldset .form-row {
    font-size: 0.85em;
    margin: 0;
    padding: 0.5em 0;
}
.form-row {
    overflow: hidden;
}

.signup fieldset .form-row .form-field, .signup fieldset .form-row .form-comment {
    margin-left: 120px;
}

.signup fieldset .form-row .form-label {
    text-align: right;
    width: 110px;
}
.form-row .form-label {
    float: left;
    padding-top: 0.2em;
    width: 140px;
}

.content .container {
    margin: 0 0 20px;
    overflow: hidden;
}

.content .col-0-5 {
    border-color: silver;
    width: 140px;
}
.content .col-0-5, .content .col-1, .content .col-2, .content .col-2-5, .content .col-3 {
    float: left;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
.testimonial blockquote, .testimonial blockquote p {
    font: italic 1em/1.6 Georgia,"Times New Roman",Times,serif;
}

.content .round .block-content {
    padding: 5px 19px;
}
.content .round .block-content, .round .rc b {
    background-color: #FBFAF7;
}

.rc {
    display: block;
}

.round b.rc1, .round b.rc2, .round b.rc3, .round b.rc4 {
    border-color: #EFECE7;
}
.round b.rc1 {
    background-color: #E8E4DD;
}
b.rc1 {
    border-style: solid;
    border-width: 0 1px;
    margin: 0 3px;
    padding: 0 1px;
}
.rc b {
    display: block;
    font-size: 0.01em;
    height: 1px;
    overflow: hidden;
}

.toolbar .lang li.signin {
    background-color: #678FCC;
    border-radius: 3px 3px 3px 3px;
    color: #D5ECF7;
    font-size: 1em;
    margin-left: 1.8em;
    padding-left: 0.6em;
    padding-right: 0.6em;
}
.toolbar .lang li.signin {
    color: #F1FBD5 !important;
}
.toolbar .lang li {
    float: left;
    list-style: none outside none;
    margin: 0 0 0 0.9em;
    padding: 0.45em 0 0.5em;
}
ul li {
    list-style: disc outside none;
}
ul li, ol li {
    margin-bottom: 0.75em;
}


.footer {
    border-bottom: 1px solid #000000;
    border-color: #CACCC2 !important;
    color: #AEB3A1;
    font-size: 0.7em;
    margin: 0 20px;
    padding: 20px 0;
    text-align: center;
}

.footer a {
    color: #95998A !important;
}
a:link {
    color: #2277BB;
}

.signin a:link{
	color: #FFFFFF;
}
.footer a {
    white-space: nowrap;
}