.footer
  %p
    %a{:href => "static/about"} About MuslimaLove.com
  %p
    Copyright ©
    = succeed "." do
      %a{:href => "http://muslimaLove.com"} MuslimaLove
    All rights reserved.
  %p
    %a{:href => "static/contact"} Contact Us
    %span.sep |
    %a{:href => "static/terms"} Terms
    %span.sep |
    %a{:href => "static/privacy"} Privacy
    %span.sep |
    %a{:href => "static/advertising"} Advertising
    %span.sep |
    %a{:href => "static/faq"} FAQs